<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zh.demo">
    <!-- 谁有权给我发送广播 -->
    <!-- 接受方声明的权限 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDemo">
        <activity android:name=".fragment.FragmentMainActivity"></activity>
        <activity android:name=".provider.ContentProviderMainActivity" />
        <activity android:name=".broadcast.BroadcastMainActivity" />
        <activity android:name=".service.ServiceMainActivity" />
        <activity android:name=".activity_jump.JumpAnimationActivityB" />
        <activity android:name=".activity_jump.JumpAnimationActivity" />
        <activity android:name=".activity_jump.MySchemeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.zh.demo"
                    android:path="/testScheme"
                    android:port="8888"
                    android:scheme="zh" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_jump.JumpMainActivity" />
        <activity
            android:name=".activity_launchmode.FourthActivity"
            android:taskAffinity=":new" />
        <activity
            android:name=".activity_launchmode.ThirdActivity"
            android:taskAffinity=":new" />
        <activity
            android:name=".activity_launchmode.SecondActivity"
            android:taskAffinity=":new" />
        <activity android:name=".activity_launchmode.LaunchModeMainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.MyContentProvider"
            android:authorities="com.zh.demo.provider"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.MyIntentService"
            android:exported="false" />
    </application> <!-- 发送方申请的权限 -->
    <permission android:name="com.zh.demo.send_broadcast" />

    <permission
        android:name="com.zh.demo.receive_broadcast"
        android:protectionLevel="normal" />
    <uses-permission android:name="com.zh.demo.send_broadcast" />

    <uses-permission android:name="com.zh.demo.receive_broadcast" />

</manifest>